/* Tablets & Mobile (max 991px) */
@media (max-width: 991px) {
    .hide-on-mob-tablet {
        display: none;
    }
    #wrapper #menu-icon {
        z-index: 10;
        float: right;
        margin: 1vw 5vw;
        background: transparent;
        color: #000;
        font-size: 10vw;
        border: none;
        display: block;
    }
    .menu-close {
        display: block;
        float: right;
        padding: 1vw 6vw;
        font-size: 4rem;
    }
    .navbar__wrapper {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
    }
    .navbar__list {
        display: block;
        justify-content: center;
        margin: 50vw auto;
    }
    .navbar__item {
        margin: 5vw 0;
    }
    #wrapper {
        background-image: url(/assets/img/bg_m.webp);
        width: 100vw;
        height: 430vw;
    }
    #wrapper .trailer img {
        width: 100%;
        top: 90vw;
        left: 10vw;
        width: 15%;
    }
    #wrapper  .register {
        margin: 78vw 0 0;
    }
    #wrapper .register a {
        display: flex;
        justify-content: center;
    }
    #wrapper  .register img {
        width: 45%;
    }
    #wrapper  .register__nav-mob {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #wrapper  .register__nav-mob-item img {
        width: 90%;
    }
    #wrapper .progress__wrapper {
        margin: 18vw 8vw 19vw;
    }
        
    #wrapper .progress__quantity {
        padding: 6px;
        font-size: 1.4rem;
        margin: 0 3vw 10vw;
    }
    #wrapper .progress__bar {
        padding: 9px 0;
    }
    #wrapper .progress__gifts--item {
        width: 10%;

    }
    #wrapper .progress__container {
        background-size: 100%;
        /* margin: 0; */
    }
    #wrapper .progress__gifts {
        margin: -12vw 2vw 0;
    }
    #wrapper .spinner {
        margin: 10vw 10vw 0;

    }
    .spinner-title {
        font-size: 1.6rem;
        margin: 0 1vw;
    }
    #wrapper .regulations-history {
        position: relative;
        padding: 4px;
        bottom: -3vw;
        left: 4vw;
        width: 90%;
        background-image: none;
        background-repeat: no-repeat;
    }
    #wrapper .roulette-container {
        bottom: 20vw;
        left: -4vw;
        width: 86vw;
        height: 100vw;
        background-size: 100%;
    }
    #wrapper .routers {
        z-index: 1;
        position: relative;
        top: 99vw;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #wrapper .routers a {
        /* display: flex; */
        width: 100px;
    }
    #wrapper .routers img {
        width: 100%;
    }
    #wrapper .spinner-title {
        margin: 0 16vw 0;
        padding: 6px;
        font-size: 1.4rem;
    }
    #spinBtn {
        top: 42%;
        left: 32%;
    }
    #spinBtn img {
        width: 44%;
    }
    #wrapper .routers img {
        width: 100%;
    }
    #wrapper .roulette {
        top: 23%;
        left: 8%;
        width: 61%;
        height: 53%;
    }
    #wrapper .info-container {
        display: grid;
        margin-top: 15vw;
    }
    #wrapper .sub-info {
        display: flex;
        margin: 0 10vw;
    }
    #wrapper .sub-info img {
        width: 90%;
    }
    #wrapper .info-detail img {
        width: 100%;
    }
    
    /* Modal */
    .modal-dialog {
        margin: 50% 2%;
    }
    .modal-content {
        width: 96vw;
    }
    
    .modal-bg {
        background-color: transparent !important;
        background-image: url(/assets/img/bg_popup.png);
        background-repeat: no-repeat;
        color: #fff;
        background-size: 100%;
    }
    .content-table-dialog {
        margin: 0 6vw;
    }
    button.close {
        margin: 5vw;
        font-size: 30px;
    }
    .modal-title {
        font-weight: 400;
        font-size: 20px;
        padding: 6% 0 0% 12%;
        margin: 0;
    }
    .modal-input {
        width: 100%;
        font-size: 14px;
        padding: 12px;
        border-radius: 2px;
        color: #000;
    }
    .modal-submit {
        padding: 7px 40%;
        margin: 6% 0;
        font-size: 18px;
    }

    /* Dialog Video */
    .close-video {
        margin: -5% !important;
        margin-top: -10% !important;
    }
    .modal_video-content {
        width: 90vw;
        margin: 66vw 3vw 0 4vw;
    }
    .modal-dialog_video iframe {
        width: 92vw;
        height: 51vw;
    }
}
  
/* Laptops (992px to 1199px) */
@media (min-width: 992px) and (max-width: 1599px) {
    .trailer {
        top: 23vw;
    }
    .register {
        margin: 31vw 0 0;
    }
    .register__title {
        margin-bottom: 3vw;
    }
    .register__title a {
        display: flex;
        justify-content: center;
    }
    .register__title img {
        width: 70%;
    }
    #wrapper .register__download--item {
        width: 120%;
    }
    .register__nav {
        margin: 0 30vw;
    }
    .register__direct--icon {
        margin-left: 3vw;
    }
    .register__direct--icon img,
    .register__nav--card img,
    .register__download--item img {
        width: 84%;
    }

    
    #wrapper .progress__gifts {
        margin: -7.4vw 2vw 0;
    }
    .progress__quantity {
        padding: .5vw 0;
        font-size: 1.5rem;
        margin: 0 25vw 10vw;
    }
    .progress__bar {
        height: 4vw;
    }
    .progress__gifts {
        margin: -7vw 2vw 0;
    }
    .progress__gifts img {
        width: 8vw;
    }
    .spinner {
        margin: 9vw 20vw 0;
    }
    #spinBtn {
        top: 40%;
        left: 27%;
    }
    .routers img {
        width: 70%;
    }
    .roulette-container {
        bottom: 35vw;
        left: 20vw;
        background-size: 94%;
    }
    .info-container {
        margin-top: -20vw;
    }
    .info-container img {
        width: 90%;
    }
}
  