#wrapper .hide-on-pc {
    display: none;
}

.navbar__wrapper {
    z-index: 10;
    position: fixed;
    width: 100vw;
    background: #000;
    color: #fff;
}

.navbar__list {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 2rem;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.navbar__item {
    margin: 0 2vw;
}

.navbar__list a {
    color: #fff;
}

.navbar__list a:hover {
    text-decoration: none;
    opacity: .8;
}

#wrapper {
    background-image: url(/assets/img/bg_pc.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 183vw;
    overflow: hidden;
}

.trailer img {
    position: relative;
    top: 19vw;
    left: 31vw;
    width: 10vw;
    animation: zoomIn 1.6s infinite;
    transition: all 1s ease-in;
}
#wrapper .trailer:hover {
    filter: brightness(1.5);
}
@keyframes zoomIn {
    0% {
        transform: scale(.8);
        filter: brightness(1);

    }
    100% {
        transform: scale(1); 
        filter: brightness(1.2);

    }
}
/* Register */
#wrapper .register {
    margin: 29vw 0 10vw;
}

#wrapper .register__title {
    display: flex;
    justify-content: center;
    margin-bottom: 1.9vw;
}

#wrapper .register__direct--icon:hover,
#wrapper .register__download--item:hover,
#wrapper .register__title a:hover,
#wrapper .register__nav--card:hover,
.routers a:hover,
.regulations-history a:hover,
.register__nav-mob-item:hover {
    filter: brightness(1.3);
}

#wrapper .register__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}


#wrapper .register__download {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#wrapper .register__download--item {
    width: 110%;
}

/* Progres */
#wrapper .progress__wrapper {
    margin: 0 15vw 0;
}

#wrapper .progress__quantity {
    margin: 0 24vw 5vw;
    display: flex;
    justify-content: center;
    background-color: #ceceec;
    border-radius: 5px;
}

#wrapper .progress__container {
    width: 100%;
    background-image: url(/assets/img/thanhtiendo-off.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 20px 0;
}

#wrapper .progress__bar {
    width: 0%;
    height: 3.6vw;
    background-image: url(/assets/img/thanhtiendo-on.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: width 0.5s ease;
}

#wrapper .progress__gifts {
    display: flex;
    justify-content: space-around;
    margin: -7.4vw 2vw 0;
}

#wrapper .progress__gifts--item {
    filter: grayscale(1);
}

#wrapper .active {
    filter: grayscale(0);
}

/* Sprinner */
.spinner {
    margin: 10vw 20vw 0;
}

.spinner-title {
    margin: 0 20vw 1vw;
    display: flex;
    justify-content: center;
    background-color: #ceceec;
    border-radius: 5px;
    padding: 0.5vw 0;
    font-size: 1.5rem;
}


.regulations-history {
    position: relative;
    bottom: 2vw;
    left: 47vw;
    width: 20vw;
    padding: 0.4vw;
    z-index: 2;
    background: #000;
    display: flex;
}

.regulations-history img {
    width: 90%;
}

.routers {
    display: block;
    width: 20vw;
}

.routers a {
    display: flex;
}

.roulette-container {
    position: relative;
    bottom: 37vw;
    left: 20vw;
    width: 40vw;
    height: 40vw;
    background-image: url(/assets/img/bg-vongquay.png);
    background-repeat: no-repeat;
    overflow: hidden;
}


.roulette {
    position: absolute;
    top: 25%;
    left: 7%;
    width: 58%;
    height: 58%;
    background-image: url(/assets/img/vongquay.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#spinBtn {
    position: absolute;
    top: 42%;
    left: 29%;
}

.spin-animation {
    transition: all .1s linear;
    animation: spin 1.5s linear infinite;
}
  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

/* Info */
.info-container {
    margin-top: -26vw;
    display: flex;
    justify-content: center;
}

.sub-info {
    margin-right: 6%;
}

.sub-info__item {
    margin-top: 1vw;
    cursor: pointer;
    filter: grayscale(1);
}

.footer {
    height: 10vw;
    background: #000;
}

.active {
    filter: grayscale(0);
}

  
/* Modal */
.dialog_regulations {

}


.modal-dialog {
    width: 84vh;
    margin: 12vw 32vw 15vw 35vw;
}

.modal-content {
    height: 6vh;
    width: 28vw;
    background-color: transparent !important;
}

#dialog_regulations .modal-bg,
#dialog_history .modal-bg{
    height: 38vh;
    color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/bg_popup.webp);
}

button.close {
    color: #fff;
    opacity: 1;
    margin: 1vw;
    font-size: 36px;
}

.modal-title {
    font-size: 1.6vw;
    padding: 6% 0 4% 14%;
}

.content-table-dialog {
    margin: 0 3vw;
    font-size: 24px;
}

.modal-input {
    width: 100%;
    border-radius: 2px;
    padding: 3%;
    color: #000;
}

.modal-form {
    margin-bottom: 6%;
}

.modal-submit {
    padding: 0.6vw 1vw;
    margin: 1vw 12vh 1vw 8vw;
    background-color: #9C313C;
    border-radius: 2vw;
}

/* Dialog Video */
#dialog_video {
    
}

.modal_video-content {
    width: 56vw;
    margin: 10vw 22vw 0 25vw;
}

#dialog_video .close-video {
    margin: 1vw;
}

.modal-dialog_video iframe {
    width: 52vw;
    height: 30vw;
}

/* .modal-dialog__video {
    width: 71vh;
    height: 40vh;
    margin-top: 8%;
} */





